/* Variables */

:root {
    /* Farver */
    --primaryColor: #4084b8;
    --primaryColor90: #D9E7F2;
    --primaryColor80: #B3CFE5;
    --primaryColor70: #8DB7D8;
    --primaryColor60: #68A0CA;
    --primaryColor50: #4288BD;
    --primaryColor40: #356D97;
    --primaryColor30: #275172;
    --primaryColor20: #1A364C;
    --primaryColor10: #0D1B26;
    --secondaryColor: #B78740;
    --secondaryColor90: #F2E8D9;
    --secondaryColor80: #E5D1B3;
    --secondaryColor70: #D7BA8E;
    --secondaryColor60: #CAA268;
    --secondaryColor50: #BD8B42;
    --secondaryColor40: #976F35;
    --secondaryColor30: #715428;
    --secondaryColor20: #4C381A;
    --secondaryColor10: #261C0D;
    --infoColor: #2F80ED;
    --infoSuccess: #27AE60;
    --infoWarning: #E2B93B;
    --infoError: #EB5757;
    --black: #000000;
    --white: #FFFFFF;
    --grey1: #333333;
    --grey2: #4F4F4F;
    --grey3: #909090;
    --grey4: #F7F7F7;
    /* Spacers */
    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --xlSpacer: 64px;
    /* font-size */
    --heading1: 56px;
    --heading2: 48px;
    --heading3: 40px;
    --heading4: 32px;
    --heading5: 24px;
    --heading6: 20px;
    --bodyText: 1rem;
}

* {
    box-sizing: border-box;

    p,
    h1,
    h2,
    h3,
    h4,
    a,
    li {
        font-family: "Montserrat", sans-serif;
    }
}

body {
    margin: 0;
}

main {
    width: 1440px;
    margin: auto;
}


/* Navbar */
nav {
    background-color: var(--primaryColor80);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 15px;
    margin-right: 15px;
    padding: 0.5rem;
}

.navbar img {
    width: 100px;
    height: auto;
}

.navlinks a {
    text-decoration: none;
    color: var(--black);
    font-size: 32px;
}

.navlinks ul {
    list-style-type: none;
    display: flex;
    gap: 58px;
}

.userIcon .fa-regular {
    font-size: 50px;
}

.iconStack {
    position: relative;
    display: inline-block;
    background: var(--secondaryColor60);
    padding: 8px 0.5px;
    border-radius: 50%;
}

.iconStack .fa-solid {
    position: absolute;
    bottom: 1px;
    right: 2px;
    background: var(--grey3);
    border-radius: 50%;
    padding: 1px;
}

.fa-solid {
    font-size: 20px;
}

.userIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userIcon p {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

.linksUser-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.userContainer {
    margin-left: 2rem;
}

/* food stories */

/* food stories hero section */
.foodstory-header-content img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foodstory-header-content {
    position: relative;
}

.foodstory-header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

/* Breadcrumbs */
.breadcrumb {
    padding: 0 0.5rem;
    margin-top: 42px;
    background-color: white;
    margin-left: 4rem;
    font-weight: bold;
}

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: "->";
}

/* foodstories introduktion */
.foodstory-intro-container h2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.foodstories-intro-image {
    display: flex;
    align-items: flex-start;
    gap: var(--mdSpacer);
    margin: 0 auto;
    max-width: 1200px;
    line-height: 150%;
    margin-top: 85px;
}

.foodstories-intro-image img {
    width: 580px;
    height: 440px;
    object-fit: cover;
    flex-shrink: 0;
}

.line {
    border-bottom: 2px solid var(--primaryColor);
    padding-bottom: 0.5rem;
    margin: 0 auto;
    margin-bottom: 120px;
    width: 1200px;
}

.line2 {
    border-bottom: 2px solid var(--primaryColor);
    padding-bottom: 0.5rem;
    margin: 0 auto;
    margin-bottom: var(--mdSpacer);
    width: 1200px;
}

/* filter og opret knap */
.filter {
    padding: 0.8rem;
    border: none;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--primaryColor);
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 55px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.fa-plus {
    background-color: #e1e0e0a4;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-plus,
.fa-sliders {
    font-size: 30px;
}

.filter-opret-knap {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.filter:hover {
    background-color: var(--primaryColor80);
    color: var(--black);
    transition: 0.3s;
}

/* foodstory card */
.foodstories-image img {
    width: 550px;
    height: 100%;
    object-fit: cover;
    display: block;
}

.foodstories-image {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    align-self: stretch;
}

.foodstories-image .fa-bookmark {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e1e0e0a4;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.foodstory-indholdscontainer {
    flex: 1;
    display: flex;
}

.foodstory-indhold {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.fa-bookmark {
    font-size: 25px;
}

.foodstory-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.foodstory-card {
    background: var(--secondaryColor90);
    padding: 1rem;
    display: flex;
    align-items: stretch;
    gap: 1.5rem;

    border-radius: 12px;
    padding: 1.5rem;
    overflow: hidden;
    width: 1200px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.foodstories-container {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.foodstory-titel-dato {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foodstory-rating {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

.foodstory-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fa-star {
    color: var(--infoWarning);
}

.share-and-button {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.foodstory-tekst-indhold p {
    line-height: 150%;
}

.foodstory-button {
    padding: 24px 51px 24px 51px;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--primaryColor);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.foodstory-button:hover {
    background-color: var(--primaryColor80);
    color: var(--black);
    transition: 0.3s;
}

.fa-arrow-up-from-bracket {
    font-size: 25px;
}

.foodstory-profile-and-button-container {
    display: flex;
    justify-content: space-between;
}

.foodstory-intro-container {

    h2 {
        font-weight: bold;
        font-size: var(--heading3);
    }

    h3 {
        margin-top: 0px;
    }
}

.foodstory-profile-oplysning {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.foodstory-profile-oplysning h4, .foodstory-profile-oplysning p {
    margin: 0;
}
 
/*Footer*/

.footer {
    background-color: var(--primaryColor70);
    padding: var(--mdSpacer) var(--xlSpacer);
    font-family: "Montserrat", sans-serif;

}

.footer-content {
    display: flex;

    justify-content: space-between;

    align-items: center;

    max-width: 1200px;

    margin: 0 auto;
}

/* Venstre side af Footeren */

.footer-venstre h3 {

    margin-top: 0;

    margin-bottom: var(--smSpacer);

    color: var(--black);

    font-weight: 700;

    font-size: 20px;
}

.footer-venstre p {
    margin: 2px 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.footer-venstre a {
    color: var(--black);
    text-decoration: underline;
}


/* logo style */

.footer-logo {
    width: 90px;
    height: auto;
    margin-top: var(--smSpacer);
}



/* sociale medier  */

.footer-sociale-medier {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-sociale-medier i {
    color: var(--black);
}

.fa-facebook {
    font-size: 45px;
}

.fa-x-twitter {
    font-size: 45px;
}

.fa-linkedin {
    font-size: 47px;
}


.footer-sociale-medier a {
    text-decoration: none;
    color: var(--black);
}

/* Opskriftkort til opskriftSamling.html */

.opskriftKort {
    width: 350px;
    padding: var(--smSpacer);
    margin: var(--mdSpacer);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: var(--primaryColor90);
}

/* Opskrift billede */
.imgWrapper {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Gem knap */
.opskriftKortGem {
    position: absolute;
    top: var(--mdSpacer);
    right: var(--mdSpacer);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e1e0e0a4;

    i {
        font-size: var(--mdSpacer);
    }
}

.opskriftSamlingKategorier {
    display: flex;
    gap: var(--xlSpacer);
    margin: auto;
    justify-content: center;
}

.opskriftSamlingKategori {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

}

.opskriftKortBottom {
    position: absolute;
    bottom: var(--smSpacer);
    width: 90%;
}

.title404 {
    font-size: var(--heading1);
}

.realiseret404 {
    font-size: var(--heading2);
}

.tekst404 li {
    font-size: var(--heading4);
}

.button404 {
    height: 80px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--primaryColor60);
    color: white;
    font-weight: bold;
    font-size: var(--heading6);
    margin-top: var(--mdSpacer);
    margin-bottom: 16rem;
}

.button404:hover {
    background-color: var(--primaryColor80);
    color: var(--black);
}

.forside-hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.forside-hero-billede {
    width: 100%;
    height: 400px;
    /* billedet bliver ikke strukket */
    object-fit: cover;
    /* fjerner små mellemrum */
    display: block;
    /* her flytter jeg fokuspunktet på billedet så man ser mest det der ikke er sløret på billedet */
    object-position: center 80%;
}

.forside-hero-titel .curious {
    color: var(--primaryColor);
}

.forside-hero-titel .cooks {
    color: var(--black);
}

.forside-hero-titel {
    /* gør at teksten kan ligges oven på billedet */
    position: absolute;
    /* flytter det 50% ned */
    top: 50%;
    left: 50%;
    /* Gør at teksten er præcist centreret */
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 56px;
    font-weight: 700;
}

.forside-intro {
    margin-bottom: 3rem;
}

.forside-intro h2 {
    /* her ligger jeg overskriften i midten */
    text-align: center;
    /* her fjerner jeg luft over overskriften */
    margin-top: 0;
    /* det samme bare under */
    margin-bottom: var(--mdSpacer);
    margin-top: 3rem;
    font-size: 26px;
    font-weight: 700;
}

/* her gør vi at billed og tekst står ved siden af hinanden */
.forside-intro-content {
    display: flex;
    /* her centrer vi indholdet */
    align-items: flex-start;
    gap: var(--smSpacer);
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

/* her fokusere vi på billedet i intro sektionen */
.forside-intro-billede {
    width: 560px;
    height: 453px;
    object-fit: cover;
}

/* her fokusere vi på teksten i intro sektionen */
.forside-intro-tekst {
    /* width: 370px; */
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}

.forside-intro-tekst p {
    display: block;
    width: 100%;
    margin: var(--smSpacer);
}

.newrecipesHeader h2 {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

/* Forside cards */
.newRecipesContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 80px;
}

.newRecipescards {
    width: 350px;
    height: auto;

    background-color: var(--primaryColor90);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /* border: solid 1px; */
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.newRecipesimage img {
    width: 320px;
    height: 250px;
    object-fit: cover;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

.newRecipesGem {
    position: absolute;
    top: 18px;
    right: 16px;
    background-color: #e1e0e0a4;
    border: none;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.newRecipesGem .fa-bookmark {
    font-size: 30px;
}

.newRecipescardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newRecipesButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 47px;
    background-color: var(--primaryColor);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}

.newRecipesButton:hover {
    background-color: var(--primaryColor70);
    color: var(--black);
} 

/* Nye food stories */
.newFoodstoriesHeader h2, .proChefprofileheader h2 {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
}
.newFoodstoriescontainer {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin: 2rem auto 0;
    margin-bottom: 3rem;
}

.newFoodstoriescard {
    background-color: var(--secondaryColor90);
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newFoodstories-image {
    position: relative;
    display: inline-block;
}

.newFoodstories-image img {
    width: 235px;
    height: 160px;
    object-fit: cover;
    display: block;
}

.newFoodstories-image .fa-bookmark {
    position: absolute; 
    top: 10px;
    left: 3px;  
    background-color: #e1e0e0a4;
    border: none;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.newFoodstories-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.newFoodstory-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.newFoodstory-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.newFoodstory-profile-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newFoodstory-profile-oplysning {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.newFoodstory-profile-oplysning h4, .newFoodstory-profile-oplysning p {
    margin: 0;
}

/* Professionel chefs profile */
.proChefprofilecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto 0;
    justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
}

.chefProfileimage-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.chefProfileimage-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profileContent {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.profileContent h4, .profileContent p {
    margin: 0;
}



.opskriftKortIndhold {
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: var(--heading5);
        line-height: 1.2;
        margin-bottom: 0px;
    }

    i {
        font-size: var(--heading5);
        flex-shrink: 0;
        margin-top: 20px;
    }
}

 
.opskriftKortRating {
    display: flex;
    align-items: center;
    gap: 5px;

    i {
        color: var(--infoWarning);
    }
}

.opskriftKortKategori {
    font-weight: bold;
    margin-top: 0px;
}

.opskriftKortForfatter {
    display: flex;
    align-items: center;

    a {
        color: black;
    }
}

.opskriftKortForfatterImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: var(--smSpacer);
}

.opskriftKortButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 47px;
    background-color: var(--primaryColor);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: var(--smSpacer);
}

.opskriftKortButton:hover {
    background-color: var(--primaryColor70);
    color: var(--black);
}

.recipeCards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin: var(--mdSpacer);
}









/* opsskrift siden kode */

/* Her laver vi øverste del af siden */

.Opskrift-side{
    background-color: var(--white);
    padding-top: var(--mdSpacer);
}

.opskrift-container{
    max-width: 1296px;
    margin: 0% auto;
    padding: var(--mdSpacer);
    background-color: var(--secondaryColor80);
    border-radius: 15px;
}

.opskrift-titel {
    text-align: center;
    margin-bottom: var(--mdSpacer);
    font-size: 28px;
    font-weight: 700;
}

.opskrift-billed-container {
    position: relative;
}

.opskrift-billede {
    width: 100%;
    height: 460px;
    object-fit: cover;
    display: block;
}

.opkrift-gem-opskriftsiden{
    /* placere knappen oven på billedet */
    position: absolute;
    /* afstand */
    top: var(--smSpacer);
    right: var(--smSpacer);
    background-color: #e1e0e0a4;
    border: none;
    font-size: 28px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.opkrift-gem-opskriftsiden:hover{
    background-color: var(--primaryColor70);
        color: var(--black);
}

/* her kommer info omkring retten */




.opskrift-info-del{
    display: flex;
    justify-content: space-between;
    padding: var(--smSpacer);
    border-bottom: 2px solid var(--grey3);
}

.opskrift-info{
    display: flex;
    flex-direction: column;
}


/* her laver vi stregen mellem 5,0 og anmeldelser */

.opskrift-raiting-streg{
    width: 2px;
    height: 24px;

    background-color: var(--black);
}



/* nu laver vi raitings */

.opskrift-raiting{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

/* stjernerne */

.opskrift-stjerner{
    display: flex;
    gap: 5px;
}

.opskrift-stjerner i{
    color: var(--secondaryColor60);
    font-size: 26px;
}

/* kok billed */

.opskrift-kok{
    width: 90px;
    height: 90px;

    border-radius: 50%;
    object-fit: cover;
}


/* angela hartnett */

.opskrift-kok-tekst h3{
    margin: 0 0 5px 0;
    font-size: 20px;
    text-decoration: underline;
}

.opskrift-kok-tekst p{
    margin: 2px 0;

    font-size: 18px;
}

.opskrift-kok-info{
    display: flex;
    align-items: center;
    gap: var(--smSpacer);
    margin-top: var(--smSpacer);
}

/* højre side af kok info i opskriftsiden */

.opskrift-info-højre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* aftensmad glutenfri og sundt */
.opskrift-kategori-side{
    font-size: 15px;
}

/* teksten under aftensmad */
.opskrift-kategori-side p{
    margin: 8px 0 0 0;
}


/* del knappen */

.opskriftside-del{
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    margin-top: var(--mdSpacer);
}


.opskriftside-del:hover{
    background-color: var(--primaryColor70);
    color: var(--black);
}


/* opskrift tider */

.opskrift-tider{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: var(--mdSpacer) 0;
}

.opskrift-tid h3{
    margin-bottom: 5px;
    font-size: 20px;
}

.opskrift-tid p{
    margin: 0;
    font-size: 16px;
}



/* beskrivelse */

.opskrift-beskrivelsen{
    margin-top: var(--mdSpacer);
    max-width: 470px;
}

.opskrift-beskrivelsen h3{
    margin-bottom: 5px;
    font-size: 16px;
}

.opskrift-beskrivelsen p{
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5;
    
}

.opskrift-detaljer{
    display: flex;
    gap: var(--xlSpacer);
    margin-top: var(--mdSpacer);
    align-items: flex-start;
}

.opskrift-ingredienser{
    width: 40%;
}

.opskrift-fremgangsmåde{
    width: 60%;
}

.opskrift-ingredienser h2,
.opskrift-fremgangsmåde h2{
    margin-top: 0;
    margin-bottom: var(--smSpacer);
    font-size: 24px;
}

.opskrift-ingredienser ul{
    padding-left: 18px;
    font-size: 16px;
    line-height: 1.8;
}

.opskrift-ingredienser li{
    margin-bottom: 15px;
}

.opskrift-fremgangsmåde ol{
    padding-left: 22px;
    font-size: 16px;
    line-height: 1.5;
}

.opskrift-fremgangsmåde li{
    margin-bottom: var(--smSpacer);
}


.opskrift-kitchenware{
    margin-top: var(--mdSpacer);
}

.opskrift-kitchenware h4{
    margin-bottom: var(--smSpacer);
}

.opskrift-kitchenware-object{
    text-align: center;
}

.opskrift-kitchenware-liste{
    display: flex;
    gap: var(--smSpacer);
}
.opskrift-kitchenware-object img{
    width: 70px;
    height: 70px;

/* alle billeder passer i boksen */
    object-fit: contain;

    border: 1px solid var(--grey3);

    background-color: var(--white);
}


.opskrift-kitchenware-object p{
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 12px;
}


/* tips and advice */

.opskrift-tips{
    border-top: 2px solid var(--grey2);
    border-bottom: 2px solid var(--grey2);
    padding: var(--mdSpacer) var(--smSpacer);
    margin-top: var(--xlSpacer);
}

.opskrift-tips h4{
    margin: 0 0 8px 0;
    font-size: 16px;
}

.opskrift-tips p{
    margin: 0;
    max-width: 550px;
    font-size: 14px;
    line-height: 1.5;
}


.opskrift-foodstory{
    padding: var(--mdSpacer) 0;
    text-align: center;
}


.opskrift-foodstory h2{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

/* opskrift kommentar */

.opskrift-kommentar{
    background-color: var(--secondaryColor80);
    padding: var(--mdSpacer);
    margin-top: var(--xlSpacer);
}

.opskrift-kommentar h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: var(--smSpacer);
    font-size: 28px;
    max-width: 1000px;
    margin: var(--xlSpacer) auto 0 auto;
}

.opskrift-kommentar-info{
    text-align: center;
    margin-bottom: var(--xlSpacer);
    font-size: 14px;
    font-weight: 600;
}

/* formularen */

.opskrift-kommentar-felt{
    width: 100%;
    height: 160px;
    padding: var(--smSpacer);
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    font-family: "montserrat", sans-serif;
    resize: none;
}

.opskrift-kommentar-nederst{
    display: flex;
    gap: var(--smSpacer);
    margin-top: var(--smSpacer);
}

.opskrift-kommentar-input{
    flex: 1;
    height: 0 var(--smSpacer);
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    font-family:"Montserrat",sans-serif;

}

.opskrift-kommentar-knap{
    background-color: var(--primaryColor);
    color: var(--white);
    height: 60px;
    width: 230px;
    border-radius: 15px;
    border: 1px solid var(--black);
    font-weight: 700;
    cursor: pointer;
}

.opskrift-kommentar-knap:hover{
    background-color: var(--primaryColor70);
        color: var(--black);
}

.opskrift-container,
.opskrift-kommentar{
    max-width: calc(100% - 64px);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}